* {
  margin: 0;
  font: inherit;
  padding: 0;
  box-sizing: border-box;
}

img,
svg,
picture,
video {
  display: block;
  max-width: 100%;
}

:root {
  --Dark-BlueI: hsl(217, 28%, 15%);
  --Dark-BlueM: hsl(218, 28%, 13%);
  --Dark-BlueF: hsl(216, 53%, 9%);
  --Dark-BlueT: hsl(219, 30%, 18%);
  --Light-Red: hsl(0, 100%, 63%);
  --White: hsl(0, 0%, 100%);
  --openSans: 'Open Sans', sans-serif;
  --Releway: 'Raleway', sans-serif;
}

body {
  min-height: 100vh;
  text-align: center;
  font-family: var(--openSans);
}

h1 {
  font-family: var(--Releway);
  font-weight: 700;
  color: var(--White);
  font-size: 1.5rem;
  line-height: 2.4rem;
  padding: 20px 30px 0;
}

h2 {
  font-family: var(--Releway);
  font-weight: 700;
  color: var(--White);
  font-size: 1.2rem;
  margin: 40px 0 15px;
}

h3 {
  font-family: var(--Releway);
  font-weight: 700;
  color: var(--White);
  font-size: 1.1rem;
  margin: 40px 0 0;
}

h4 {
  font-family: var(--Releway);
  font-weight: 700;
  color: var(--White);
  font-size: .8rem;
}

h5 {
  font-family: var(--Releway);
  font-weight: 700;
  color: var(--White);
  font-size: 1.2rem;
}


p {
  font-size: 14px;
  font-family: var(--openSans);
  color: var(--White);
}



nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--Dark-BlueI);
  padding: 20px 22px;
}

nav>img {
  width: 28%;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 50%;

}

.nav-links a {
  display: flex;
  align-self: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.67);
  font-size: .8rem;
}

.nav-links a:hover {
  color: var(--White);
  text-decoration: underline;
}

/* frist section */


.first-section {
  background-color: var(--Dark-BlueI);
  background-image: url(images/bg-curvy-mobile.svg);
  background-repeat: no-repeat;
  background-size: 470px;
  background-position: -60px 210px;
  padding-top: 25px;
}

.first-section>img {
  width: 80%;
  margin: 0 auto;
}

.first-section-text {
  background-color: var(--Dark-BlueM);
  padding: 20px 40px;
}

.first-section-text p {

  line-height: 1.5rem;
}


.get-Started {
  width: 80%;
  padding: 15px 0;
  color: var(--White);
  background-image: linear-gradient(to right, #65e2d9, #49d2da, #33c1d8, #2bb0d4, #339ecc);
  border: none;
  border-radius: 30px;

  font-weight: 700;
  margin-top: 30px;
}


/* second section */

.second-section {
  background-color: var(--Dark-BlueM);
  padding: 100px 0;
}

.content-box+.content-box {
  margin-top: 60px;
}

.content-box>img {
  margin: 0 auto;
  width: 18%;
}

.content-box P {
  color: var(--White);
  padding: 0 25px;
  line-height: 1.3rem;
}

/* third section */

.Third-section {
  background-color: var(--Dark-BlueM);
  text-align: left;
  padding: 0 25px 30px;
}

.third-section-box-image>img {
  width: 80%;
  margin: 0 auto;
}

.third-section-text>p {
  margin-top: 20px;
  line-height: 1.3rem;
}



.third-section-text>a {
  width: 42%;
  margin-top: 20px;
  font-size: .8rem;
  text-decoration: none;
  color: hsl(176, 68%, 64%);
  padding-bottom: 5px;
  border-bottom: 2px solid hsl(176, 68%, 64%);
  display: flex;
}

.third-section-text>a>img {
  margin-left: 3px;
}


/* testimonials */

.testimonial {
  background-color: var(--Dark-BlueM);
  padding: 140px 0 300px;
  background-image: url(images/bg-quotes.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 42px 120px;

}


.testing {
  width: 80%;
  margin: 0 auto;
  background-color: var(--Dark-BlueT);
  text-align: left;
  padding: 30px 20px 28px;
  margin-bottom: 25px;
}

.testing p {
  font-size: .75rem;
  line-height: 1.4rem;
}

.avatarbox {
  display: flex;
  padding-top: 20px;
}

.avatarbox>img {
  width: 35px;
  border-radius: 50px;
}

.avatar {
  text-align: left;
  margin-left: 10px;
}


/* newsLetter */

.earlyaccessbox {
  position: relative;
  margin: 0 auto;
  display: grid;
  place-items: center;
}

.newsletter-box {
  background-color: var(--Dark-BlueI);
  width: 90%;
  margin: 0 auto;
  position: absolute;
  top: -180px;
  padding: 40px 25px;
  border-radius: 8px;
}

.newsletter-box>p {
  line-height: 1.3rem;
  margin: 20px 0 30px;

}

label>input {
  width: 100%;
  padding: 14px 20px;
  border-radius: 50px;
  border: none;
  font-size: .8rem;
}

.err {
  color: var(--Light-Red);
  font-size: .7rem;
  text-align: left;
  padding-left: 20px;
  visibility: hidden;
}

.email-button {
  width: 100%;
  padding: 14px 0;
  border-radius: 50px;
  border: none;
  background-image: linear-gradient(to right, #65e2d9, #49d2da, #33c1d8, #2bb0d4, #339ecc);
  font-weight: 700;
  color: var(--White);
  margin-top: 15px;
}

.email-button:hover,
.get-Started:hover {
  background-image: linear-gradient(to right, hsl(176, 68%, 64%, 0.7), hsl(198, 60%, 50%, 0.7));
}


/* footer */

footer {
  background-color: var(--Dark-BlueF);
  padding: 280px 50px 30px;
  text-align: left;
}

.about {
  display: flex;
  margin-top: 40px;
}

.about>img {
  align-self: flex-start;
  padding-top: 11px;
}

.about>p {
  margin-left: 20px;
  line-height: 1.5rem;
}

.emailadd,
.phone {
  display: flex;
  margin-top: 20px;
}

.emailadd>img,
.phone>img {
  height: 18px;
  width: 18px;
  margin-right: 10px;
}

.for-more {
  margin: 80px 0 60px;
  display: flex;
  flex-direction: column;
}

.even-more {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
}

.for-more>a,
.even-more>a {
  text-decoration: none;
  color: var(--White);
  font-size: 1.1rem;
  margin-top: 20px;
}

.socials {
  display: flex;
  justify-content: space-between;
  width: 39%;
  margin: 0 auto;
}

.socialbox {
  border: 1px solid var(--White);
  display: flex;
  justify-content: center;
  border-radius: 200px;
  padding: 5px 5px;
}


.changesocial-color {
  filter: brightness(0) invert(1);
  width: 15px;
  height: 15px;
}

@media screen and (min-width:62.5rem) {



  h1 {
    width: 45%;
    margin: 40px auto 15px;
    font-size: 2rem;
  }


  h3 {
    font-size: 2rem;
    padding-right: 50%;
  }

  h5 {
    font-size: 2rem;
  }


  nav {
    padding: 60px;
  }

  nav>img {
    width: 14%;
  }

  .nav-links {
    width: 20%;
  }

  .nav-links a {
    font-size: 1.2rem;
  }


  /* frist section */

  .first-section {
    background-image: url(images/bg-curvy-desktop.svg);
    background-size: contain;
    background-position: bottom;
  }

  .first-section>img {
    width: 40%;
    margin: 0 auto;
  }

  .first-section-text {
    background-color: transparent;
    padding: 20px 40px 220px;
  }

  .first-section-text p {

    width: 32%;
    margin: 0 auto;

  }

  .get-Started {
    width: 20%;
  }


  /* second section */

  .second-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    padding: 0 20% 100px;
  }

  .content-box+.content-box {
    margin: 0;
  }


  .content-box>img {
    width: 25%;
    height: 80px;
  }

  .content-box .security {
    width: 18%;
  }

  .content-box P {
    padding: 0;
  }

  .content-box .acess-text {
    padding: 0 20px;
  }


  /* third section */

  .Third-section {
    display: flex;
    gap: 50px;
    padding: 80px 10% 70px;
  }


  .third-section-box-image > img {
    width: 100%;
  }

  .third-section-text {
    width: 44%;
    align-self: center;
  }

  .third-section-text>p {
    padding-right: 0%;
    line-height: 1.5rem;
  }

  .third-section-text>a {
    width: 26.5%;
  }

  /* testimonials */

  .testimonial {
    display: flex;
    gap: 30px;
    padding: 140px 10% 300px;
    background-size: 50px;
    background-position: 138px 110px;

  }

  .testing>p {
    padding-right: 25%;
  }

  /* newsLetter */

  .newsletter-box {
    width: 60%;
  }


  .newsletter-box>p {
    padding: 0 10%;
  }

  form {
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  label {
    width: 60%;
  }

  .email-button {
    width: 25%;
    height: 80%;
    margin: 0;
    padding: 15px 10px;
    font-weight: 400;
    font-size: .8rem;
  }


  /* footer */

  footer {
    padding: 280px 100px 30px;
  }

  .aboutme {
    display: flex;
    gap: 80px;
    margin-top: 30px;
  }

  .about {
    margin: 0;
    width: 27%;
  }

  .phone {

    margin-top: 0;
  }

  .for-more {
    margin: 0;
  }

  .for-more>a,
  .even-more>a {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .socials {
    width: 10%;
    height: 10%;
  }

}